@import "../../config/variables.scss";

.comicYear {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.comicImage {
  margin-bottom: 10px;
}

.comicName {
  font-weight: 500; 
}

.comicCard {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 180px;
  }
  